.container {
  min-height: 100vh;
  padding:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  @apply w-full bg-gray-50;
  @apply flex flex-col;
}

.Title {
  @apply max-w-6xl px-4 pt-12 mx-auto text-4xl font-bold text-left text-gray-800 md:text-5xl;
}
