.container {
  min-height: 100vh;
  padding:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  @apply w-full bg-gray-50;
  @apply flex flex-col;
}

.Title {
  @apply pt-12 text-4xl font-bold text-center text-blue-500 border-t border-blue-300;
}
